{% extends "fruits/base.html" %}
{% load static %}

{% block content %}
    <h1>Meine Obstliste</h1>

    <a href="{% url 'info-page' %}">Mehr Infos über Früchte</a>
    <hr>

    <h2>Bestellt</h2>
    <ul>
        {% for fruit in fruits %}
            {% if fruit.is_ordered %}
                <li>
                    <img src="{% static fruit.img %}" alt="{{ fruit.name }}" height="50">
                    {{ fruit.name }} (Farbe: {{ fruit.color }}, Gewicht: {{ fruit.weight }}g)
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Nicht bestellt</h2>
    <ul>
        {% for fruit in fruits %}
            {% if not fruit.is_ordered %}
                 <li>
                    <img src="{% static fruit.img %}" alt="{{ fruit.name }}" height="50">
                    {{ fruit.name }} (Farbe: {{ fruit.color }}, Gewicht: {{ fruit.weight }}g)
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}